@media (min-width:426px) and (max-width:768px){
    .info-carro-header{
        flex-direction: column;
    }
    .text-carro-header{
        align-items: center;
    }

    .info-carro-header img{
        align-self: center;
        width: 300px;
    }


    header{
        padding: 0 20px;
    }

    .search{
        grid-column: 1 / 3;
    }

    .container--carros{
        grid-template-columns: repeat(2, 1fr);
    }

    .container-section1{
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-section2{
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-section3{
        padding: 50px 20px;
    }

    .container-text-section3{
        grid-template-columns: repeat(1, 1fr);
    }

    .redes{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-redes{
        text-align: start;
        margin-top: 25px;
    }

    .img-redes{
        justify-content: flex-start;
    }


}


@media (max-width:425px){

    .menu-header button{
        display: block;
    }
    
    .info-carro-header{
        flex-direction: column;
    }
    .text-carro-header{
        align-items: center;
    }

    .info-carro-header img{
        align-self: center;
        width: 300px;
    }

    .menu nav{
        display: none;
    }


    header{
        padding: 0 10px;
        height: 500px;
    }

    .search{
        grid-column: 1 / 1;
    }

    .container--carros{
        grid-template-columns: repeat(1, 1fr);
    }

    .container-section1{
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-section2{
        padding-left: 20px;
        padding-right: 20px;
    }

    .container-section3{
        padding: 50px 20px;
    }

    .container-text-section3{
        grid-template-columns: repeat(1, 1fr);
    }

    .redes{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-redes{
        text-align: start;
        margin-top: 25px;
    }

    .img-redes{
        justify-content: flex-start;
    }

    .bg-section2{
        display: none;
    }
}